<div class="page-container">

  <h2 class="page-title">Contact Messages</h2>

  <div class="table-container">

    <table class="table table-hover">

      <thead>
        <tr>
          <th>ID</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Message</th>

        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let contact of contacts">

          <td>{{ contact.contectId }}</td>

          <td>{{ contact.fullName }}</td>

          <td>{{ contact.email }}</td>

          <td>
            <div class="message-box">
              <span class="message-text">
                {{ contact.messagees }}
              </span>

              <span class="message-time">
                Received
              </span>
            </div>
          </td>

        

        </tr>

      </tbody>

    </table>

  </div>

</div>
