<div class="page-wrapper">

  <div class="cp-page">

    <div class="cp-card">

      <!-- LEFT SIDE FORM -->
      <div class="cp-left">

        <h2>Change Password</h2>
        <p>Update your password securely</p>

        <div class="input-box position-relative">
          <input [type]="hideOldPassword ? 'password' : 'text'"
                 [(ngModel)]="oldPassword"
                 placeholder="Old Password">

          <i class="bi"
             [ngClass]="hideOldPassword ? 'bi-eye' : 'bi-eye-slash'"
             (click)="hideOldPassword = !hideOldPassword"
             style="position:absolute; right:12px; top:50%; transform:translateY(-50%); cursor:pointer;">
          </i>
        </div>

        <div class="input-box position-relative">
          <input [type]="hideNewPassword ? 'password' : 'text'"
                 [(ngModel)]="newPassword"
                 placeholder="New Password">

          <i class="bi"
             [ngClass]="hideNewPassword ? 'bi-eye' : 'bi-eye-slash'"
             (click)="hideNewPassword = !hideNewPassword"
             style="position:absolute; right:12px; top:50%; transform:translateY(-50%); cursor:pointer;">
          </i>
        </div>

        <div class="input-box position-relative">
          <input [type]="hideConfirmPassword ? 'password' : 'text'"
                 [(ngModel)]="confirmPassword"
                 placeholder="Confirm New Password">

          <i class="bi"
             [ngClass]="hideConfirmPassword ? 'bi-eye' : 'bi-eye-slash'"
             (click)="hideConfirmPassword = !hideConfirmPassword"
             style="position:absolute; right:12px; top:50%; transform:translateY(-50%); cursor:pointer;">
          </i>
        </div>

        <button (click)="changePassword()">
          <span *ngIf="!isLoading">Update Password</span>
          <span *ngIf="isLoading" class="spinner"></span>
        </button>

      </div>

      <!-- RIGHT SIDE RULES -->
      <div class="cp-right">

        <h3>Password Rules</h3>

        <ul>
          <li>Minimum 8 characters</li>
          <li>At least 1 uppercase letter</li>
          <li>At least 1 number</li>
          <li>At least 1 special character</li>
          <li>Do not reuse old password</li>
        </ul>

        <div class="hint">
          Keep your account secure 🔐
        </div>

      </div>

    </div>

  </div>


</div>
